<html>

<head>
	<title>Alex's Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet href="css/projectsStyle.css">
</head>

<body>
	<header>
		<nav id="header-navigation" class="nav">
			<ul>
				<li>
					<image id="logo"></image>
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/projects">My Projects</a>
				</li>
				<li>
					<a href="/contact">Contact Me</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="content">
		<h2>Here are a few projects I have done lately...</h2>
		<div class="container" id="project-cha-cal">
			<img class="project-image" src="assets/change-calculator.png">
			<div>
				<h5><a href="https://adb-change-calculator.herokuapp.com/">Change Calculator</a></h5>
				<p class="project-description">The first of these projects is a React page for calculating change. The user inputs
					the amount due and the amount received, and then clicks the button. The results will be broken down into dollar
					and cent denominations.</p>
			</div>
		</div>
		<div class="container" id="project-mort-cal">
			<img class="project-image" src="assets/mortgage-calculator.png">
			<div>
				<h5><a href="https://adb-mortgage-calculator.herokuapp.com/">Mortage Calculator</a></h5>
				<p class="project-description">This second project is a React app which calculates mortgage payments on the basis
					of balance, rate, and term as input by the user.</p>
			</div>
		</div>
		<div class="container" id="project-vstda">
			<img class="project-image" src="assets/vstda.png">
			<div>
				<h5><a href="https://adb-vstda.herokuapp.com/">Very Simple To-Do App</a></h5>
				<p class="project-description">This React app was easily the most-involved of the three, despite its name. On the
					left, the user can add a task for the list alongside its priority, which will then be added to the list on the
					right when the user clicks the button.</p>
			</div>
		</div>
	</div>
</body>

</html>